#gen{
    background-color: #2A2626;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
.cards-container{
    margin-top: 2%;
    margin-bottom: 2%;
}

.card {
    border: 1px solid transparent; /* This will remove the border by making it transparent */
}
.CSSR{
    width: 100%;

}
.NITD{
    width: 93%;
    text-align: center;
}
  
  
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

/* For the sliding effect*/

.image-slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    margin: 20px auto;
    position: relative;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slider-container {
    width: 100%; /* Adjust to fit 4 images perfectly */
    overflow: hidden;
  }
  
  .slide {
    min-width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }
  
  
  .arrow {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .left {
    left: 10px;
  }
  
  .right {
    right: 10px;
  }
  




#myCarousel{
    padding-top: 3%;
    padding-bottom: 3%;
}
.navbar-container{
    background-color: #252B48;
    position: sticky;
    top: 0;
    z-index: 2;
}
.navbar-nav{
    display: flex;
    justify-content: space-between;
}
.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}
.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
hr{
    color: white;
    width: 90%;
    margin: auto;
}

/**/

.team-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
  }
  
  .team-card {
    background-color: #333;
    width: 300px;
    margin: 2px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .p{
    color: #fff;
  }
  
  .team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
  }
  
  .team-card:hover .card-image img {
    transform: scale(1.1);
  }
  
  h3 {
    
    font-size: 1.5em;
    color: #fff;
    margin-top: 2px; /* Adjusted margin */
    margin-bottom: 2px;
  }
  .team-card h3{
    color: #fff;
    margin-top: 2px; /* Adjusted margin */
    margin-bottom: 2px;
    
  }

  .team-card p {
    color: #ccc;
    margin: 2px 0; /* Reduced gap */
    
}
  .resume-link {
    display: inline-block;
    bottom: 10%;
    padding: 10px 20px;
    background-color: #0f1011;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .resume-link:hover {
    background-color: #fff;
  }



/**/



/**/

.title{
    text-align: center;
    justify-content: center;

}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .about-text {
    
    max-width: 1100px;
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    margin-right: 30px;  /* Space between text and image */
    color: #fff;
  }
  
  .about-image img {
    width: 450px;
    height: auto;
    border-radius: 10px;
  }
  
  #auto-write {
    white-space: pre-wrap;
    text-align: left;
  }
/**/

.about{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    font-size: 80px;
    width: 105%;
    /* display: flex; */
}
.about .NITD{
    top: 60%;
}
.about .CSSR{
    top:90%;
    font-size: 102px;
}

.banner-img{
    width: 100%;
    position: relative;
}

.name-header{
    width: 100%;
    color: white;
    display: inline-block;
  text-align: center;
}
.about-me{
    padding-left: 3%;
    width: 95%;
    color: white;
    display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center;
}
.text-div{
    flex: 1; /* Distribute available space equally between text divs */
    font-size: large;
    text-align: justify;
}

.h3name{
    position: relative;
    padding-bottom: 1rem;
}
/* .object-image{
    height:50vh;
    overflow:hidden; 
}*/
/* .card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.height-set{
    height: 30vh;
    overflow:hidden;
}
.cards-container{
    margin-top: 0;
    width:100%;
    padding-left:2%;
    padding-top:0;
} */
.heading{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.publications{
    color:white;
    padding:0 2%;
    display: flex;
}
.journal{
    width:45%;
    text-align:justify;
    display:inline-block;
    margin-top: 2%;
}
.conference{
    padding: 2%;
    width:50%;
    display: inline-block;
    margin-left: 3%;
    border: 2px solid #fff;
    border-radius: 2%;
}
.project-div{
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom:20px;
}
.project-heading{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}
.project-content{
    font-size: 18px;
}
.talks{
    padding: 2%;
    width:50%;
    display: inline-block;
}
.awards{
    padding: 2%;
    width:50%;
    display: inline-block;
}
.footer-section{
    padding-top: 3%;
    padding-bottom: 6%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #424242;
    display: flex;
    color: white;
}
.left-footer-section{
    margin-right: 100px;
    width: 50%;
    display: inline-block;
}
.right-footer-section{
    width: 50%;
    display: inline-block;
}
.footer-section-content{
    font-size: 20px;
}
.card-body{
    height: 100%;
    background-color: #2A2626;
    color: white;
    cursor: pointer;
    text-align: center;
}

#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    border-radius: 5px;
    padding: 20px;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/*  */
   
 #expandedContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

#expandedImage {
  max-width: 100%;
  max-height: 80vh; 
}


 .hidden {
  display: none;
}
.notHidden{
    display :flex;
} 


.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    border-radius: 5px;
    padding: 20px;
    max-width: 90%;
    max-height: 80vh; /* Adjusted height */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content {
    text-align: center;
}

#modalImage {
    max-width: 100%;
    max-height: 100%; /* Adjusted height */
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}




/* ---------------------------------------------------------------------------------------------- */
/* .container {
    max-width: 100%;
    margin: 0 auto;
    background-color: #2A2626;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: white;
}

.patent {
    width: auto;
    margin-bottom: 20px;
    padding: 15px;
    color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #2A2626;
}

.patent h2 {
    font-size: 1.2em;
    color: #333;
}

.patent p {
    margin-top: 8px;
    font-size: 1em;
}

.patent strong {
    color: white;
} */

/* ------------------ */

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #2A2626;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container h1 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 2em;
    color: white;
}

.patent {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #2A2626;
    color: white;
    width: 100%;
}

.patent h2 {
    font-size: 1.2em;
    color: white;
}

.patent p {
    margin-top: 8px;
    font-size: 1em;
    color: white;
}

.patent strong {
    color: white;
}